.navBar {
  margin: 100px 60px 20px 60px;
  font-family: roboto, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
}

.signedInAs {
  font-size: 21px;
  color: #dadfe1;
}

.username {
  font-size: 67px;
  font-weight: bold;
  color: #24252a;
  transition: 0.37s;
}

.diff7 {
  font-size: 77px;
  color: #f2f1ef;
  letter-spacing: -9px;
  padding: 0 10px;
  transition: 1s;
  cursor: default;
}

.diff7:hover {
  color: #abb7b7;
  letter-spacing: 0.027em;
  padding: 0 30px;
  font-weight: bold;
}
