#waitingCard{
  position: fixed;
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s;
}

#waitingMessage{
  font-size: 30px;
  color: #d6d6d6;
  margin: 5px;
}

#waitingFor{
  font-size: 36px;
  color: #444;
  font-weight: bold;
  letter-spacing: 0.17em;
}
