<div class="gameBoard">
  <div class="boardContainer">
    <div class="boardTitle"> Leader board</div>

    <div class="LB-Player-Container">

      <div class="LB-items" *ngFor="let user of gameCard">

        <div class="LB-player">
          <div class="LB-ItemSpace LB-position">{{user.position}}</div>
          <div class="LB-ItemSpace LB-username">{{user.username}}</div>
          <div class="LB-ItemSpace LB-time">{{user.time}}</div>
        </div>

      </div>

    </div>

  </div>
</div>
