.gameView {
  font-family: roboto, Arial, sans-serif;
  transition: 1s;
  display: flex !important;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.gameBord {
  padding: 10px 0 10px 0;
  height: 100%;
}

.imagesContainer {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 0 30px;
  background: white;
  margin-bottom: 10px;
}


canvas {
  width: 640px;
  height: 480px;
  background-color: #f2f2f2;
  margin: 0 10px;
  cursor: crosshair;
}

app-events-log {
  width: 49%;
}

app-leader-board {
  width: 49%;
}

.gameMetaData {
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.error {
  display: none;
  position: absolute;
  color: white;
  text-shadow: 3px 3px 5px #00000077;
  font-family: Roboto, Arial, sans-serif;
  background-color: #ff4757;
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

app-game-loader{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: white;
}
